.whole-in-it{
    padding: 20px;
}

.first-text{
  text-align: center;
  -webkit-text-stroke: 2px wheat;
}


.content-in-this{
  border:20px solid black;
  padding: 20px;

}

.intrest-is-here{
  text-align: center;
  -webkit-text-stroke: 2px sandybrown;
}

.buttons-both{
  display: flex;
  border: 17px solid black;
  padding: 19px;
  justify-content: space-around;
}

.buttons-both div {
  padding: 12px;
  border: 10px solid wheat;
  
}

.text-2 {
  color: aliceblue;
  -webkit-text-stroke: 2px black;
  text-align: center;
}

#box-last {
  border: 7px solid DarkGoldenRod;
  margin: 13px;
  justify-content: center;
  text-align: center;
}

#booksRead {
  font-family: monospace;
  font-size: 60px;
  color: azure;
  -webkit-text-stroke: 1px black;
}

.project-2-1 {
  width: 97%;
  margin: 0 auto;
  border: 20px solid black;
  text-align: center;
  -webkit-text-stroke: 2px wheat;
}

#text-indication {
  text-align: center;
}